# Python
__pycache__/
*.pyc
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data outputs

# Ignore everything in outputs by default
outputs/*

# Allow README
!outputs/README.md

# Allow figures
!outputs/figures/
!outputs/figures/*.png

# OS
.DS_Store
